<ion-header>
  <ion-toolbar>
    <ion-title>Parcels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <br>
  <ion-card>
    <ion-searchbar [(ngModel)]="searchText" (ngModelChange)="get_Parcels()" showCancelButton="focus"></ion-searchbar>
    <ion-item lines="none">
      <ion-item class="searchItem" lines="none" (click)="presentPopover($event, 'parcelFilter')">
        <ion-icon slot="start" name="filter-outline">
        </ion-icon>
        <ion-label>
          {{filterBy}}
        </ion-label>
      </ion-item>


      <ion-item class="searchItem" lines="none" (click)="presentPopover($event,'parcelSort')">
        <ion-icon slot="start" name="swap-vertical-outline">
        </ion-icon>
        <ion-label>
          {{SortBy}}
        </ion-label>
      </ion-item>

      <ion-item class="searchItem">
        <ion-label>Results: ({{results_count}})</ion-label>
      </ion-item>

    </ion-item>
  </ion-card>
</ion-header>

<ion-content>
  <ion-grid>
    



    <ion-col>
      <ion-card>
        <ion-card-content>
          <table>
            <tr class="header">
              <th>ID</th>
              <th>Description</th>
              <th>weight</th>
              <th>Destination address</th>
              <th>Date created</th>
              <th></th>
            </tr>
            <tr *ngFor="let item of Parcels;">
              <td>{{item.id}}</td>
              <td>{{item.description}}</td>
              <td>{{item.weight}}</td>
              <td>{{item.destination_address}}</td>
              <td>{{item.addedondatetime}}</td>
              <td>
                <ion-item lines="none">
                  <ion-icon name="close" color="danger">
                  </ion-icon>
                </ion-item>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>