<ion-header>
  <ion-toolbar>
    <ion-title>Add furniture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="addFurnitureForm">
      <ion-card-content>

        <ion-item class="combo-box">
          <ion-label style="text-align: left;">DISTRICT:</ion-label>
          <ion-select value="select" okText="Okay" cancelText="Dismiss" formControlName="DISTRICT">
            <ion-select-option *ngFor="let item of Municipality" value="{{item.code}}">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.DISTRICT.errors?.required">
          DISTRICT is required.
        </span>

        <ion-item class="combo-box">
          <ion-label style="text-align: left;">MUNICIPALITY:</ion-label>
          <ion-select value="select" okText="Okay" cancelText="Dismiss" formControlName="municipality">
            <ion-select-option *ngFor="let item of Local_Municipality" value="{{item.code}}">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.municipality.errors?.required">
          municipality is required.
        </span>

        <ion-item class="combo-box">
          <ion-label style="text-align: left;">FEATURE:</ion-label>
          <ion-select value="Bridge" okText="Okay" cancelText="Dismiss" formControlName="FEATURE">
            <ion-select-option *ngFor="let item of Road_furniture;" value="{{item.name}}">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.FEATURE.errors?.required">
          FEATURE is required.
        </span>

        <ion-item class="combo-box" *ngIf="Type.length > 0">
          <ion-label style="text-align: left;">TYPE:</ion-label>
          <ion-select  value="select" okText="Okay" cancelText="Dismiss" formControlName="TYPE">
            <ion-select-option *ngFor="let item of Type" value="{{item}}">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.TYPE.errors?.required">
          TYPE is required.
        </span>

        <ion-item>
          <ion-button style="width: 100%;" >Record Location</ion-button>
        </ion-item>

        <ion-item class="input-valid">
          <ion-input type="text" placeholder="Width (m)" formControlName="width"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.width.errors?.required">
          width is required.
        </span>

        <ion-item class="input-valid">
          <ion-input type="text" placeholder="Height (m)" formControlName="height"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.height.errors?.required">
          height is required.
        </span>

        <ion-item class="input-valid">
          <ion-input type="text" placeholder="Distance from road (m)" formControlName="DISTANCE_FROM_ROAD"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.DISTANCE_FROM_ROAD.errors?.required">
          distance_from_road is required.
        </span>

        <ion-item>
          <ion-button style="width: 100%;" >Take Picture</ion-button>
        </ion-item>

        <ion-item class="input-valid">
          <ion-input type="text" placeholder="Comments" formControlName="COMMENTS"></ion-input>
        </ion-item>

        <ion-button (click)="submit()" style="width: 100%;" shape="outline">Add Structure</ion-button>
        <br>
        <span class="ion-padding" style="text-align: center;">
        </span>
      </ion-card-content>
    </form>
  </ion-grid>
</ion-content>