<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title slot="start">info-modal</ion-title>
      <ion-icon slot="end" name="close-outline" (click)="dismiss();">
      </ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- Segment info -->
    <ion-col *ngIf="segment_id && Segment">
      <ion-list>

        <ion-list-header lines="insert" style="font-size: large;">
          <strong>Segment</strong>
        </ion-list-header>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            segment_id
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Segment[0].SEG_ID}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            District
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Segment[0].DISTRICT}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            MUNIC
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Segment[0].MUNIC}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Surface Type :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Segment[0].SURF_TYPE}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Road width :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Segment[0].ROAD_WIDTH}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            # lanes :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Segment[0].NO_LANES}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Distance :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Segment[0].END_KM}} KM
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Added by :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Segment[0].sys_user_id}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Added on :
          </ion-label>

          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{(Segment[0].START_DATE).substr(0,16)}}
          </ion-label>
        </ion-item>

      </ion-list>

      <!-- assesment info -->
      <ion-list>
        <ion-list-header lines="insert" style="font-size: large;">
          <strong>Condition</strong>
        </ion-list-header>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Visual Condition
          </ion-label>
          <ion-label></ion-label>
          <ion-label *ngIf="Segment[0].SEGMENT_STATUS == 0" style="text-align: right;font-size: small;" slot="end">
            Not Assesed
          </ion-label>
          <ion-label *ngIf="Segment[0].SEGMENT_STATUS == 1" style="text-align: right;font-size: small;" slot="end">
            Very Good
          </ion-label>
          <ion-label *ngIf="Segment[0].SEGMENT_STATUS == 2" style="text-align: right;font-size: small;" slot="end">
            Good
          </ion-label>
          <ion-label *ngIf="Segment[0].SEGMENT_STATUS == 3" style="text-align: right;font-size: small;" slot="end">
            Moderate
          </ion-label>
          <ion-label *ngIf="Segment[0].SEGMENT_STATUS == 4" style="text-align: right;font-size: small;" slot="end">
            Poor
          </ion-label>
          <ion-label *ngIf="Segment[0].SEGMENT_STATUS == 5" style="text-align: right;font-size: small;" slot="end">
            Very poor
          </ion-label>
        </ion-item>

      </ion-list>

      <!-- assesment info -->
      <ion-list>

        <ion-list-header lines="insert" style="font-size: large;">
          <strong>Defects</strong>
        </ion-list-header>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            block_crack
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.block_crack}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            longitudinal_crack:
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.longitudinal_crack}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            transverse_crack :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.transverse_crack}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            crocodile_crack :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.crocodile_crack}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            patches :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.patches}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            pothole :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.pothole}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            rutting :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.rutting}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            failures :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.failures}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            undulation :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.undulation}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            pumping :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Assesment.pumping}}
          </ion-label>
        </ion-item>

      </ion-list>

      <!-- artifacts slides -->
      <ion-list>
        <ion-list-header lines="insert" style="font-size: large;">
          <strong>Atrifacts</strong>
        </ion-list-header>
      </ion-list>

      <ion-slides pager="true" [options]="slideOpts">
        <!-- <ion-slide *ngFor="let artifact of Artifact">
          <ion-img src="{{artifact.photo_url}}"></ion-img>
        </ion-slide> -->

        <ion-slide>
          <ion-img src="{{Artifact[1].photo_url}}"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img src="{{Artifact[Artifact.length-1].photo_url}}"></ion-img>
        </ion-slide>

        <!-- <ion-slide>
          <ion-img src="{{Assesment.photo_url}}"></ion-img>
        </ion-slide> -->
      </ion-slides>

    </ion-col>

    <!-- Traffic info -->
    <ion-col *ngIf="traffic_station_id && Station">
      <ion-list>

        <ion-list-header lines="insert" style="font-size: large;">
          <strong>Traffic Station</strong>
        </ion-list-header>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            District
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Station.DISTRICT}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            municipality :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Station.MUNIC}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Town name :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Station.TOWN_NAME}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Start latitude:
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Station.START_LATITUDE}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Start longitude:
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Station.START_LONGITUDE}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Added on :
          </ion-label>

          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Station.DT_LST_ADDED}}
          </ion-label>
        </ion-item>

      </ion-list>

      <ion-list>

        <ion-list-header lines="insert" style="font-size: large;">
          <strong>Traffic Summary</strong>
        </ion-list-header>

      </ion-list>

    </ion-col>

    <ion-col>
      <ion-list>

        <ion-item lines="full">
          <div #pieChart style="width: 50vw; height: 40vh;"></div>
        </ion-item>

      </ion-list>
    </ion-col>


    <!-- Road structure info -->
    <ion-col *ngIf="structure_id && Structure">
      <ion-list>

        <ion-list-header lines="insert" style="font-size: large;">
          <strong>Road Structure</strong>
        </ion-list-header>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            District
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Structure.district}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            municipality :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Structure.munic}}
          </ion-label>
        </ion-item>

        <!-- <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Town name :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Structure.TOWN_NAME}}
          </ion-label>
        </ion-item> -->

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Start latitude:
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Structure.start_latitude}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Start longitude:
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Structure.start_longitude}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Structure class :
          </ion-label>

          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Structure.struct_class}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Type :
          </ion-label>

          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Structure.type}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            feature_crossed :
          </ion-label>

          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Structure.feat_crossed}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            height :
          </ion-label>

          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Structure.height}} (m)
          </ion-label>
        </ion-item>

        <ion-item>
          <img src="{{Structure.photo_url}}" />
        </ion-item>


      </ion-list>

    </ion-col>

    <!-- Road Furniture info -->
    <ion-col *ngIf="furniture_id && Furniture">
      <ion-list>

        <ion-list-header lines="insert" style="font-size: large;">
          <strong>Road Furniture</strong>
        </ion-list-header>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            District
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Furniture.district}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            municipality :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Furniture.municipality}}
          </ion-label>
        </ion-item>

        <!-- <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Town name :
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Furniture.TOWN_NAME}}
          </ion-label>
        </ion-item> -->

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Start latitude:
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Furniture.start_latitude}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Start longitude:
          </ion-label>
          <ion-label>

          </ion-label>
          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Furniture.start_longitude}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Feature :
          </ion-label>

          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Furniture.feature}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            Type :
          </ion-label>

          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Furniture.type}}
          </ion-label>
        </ion-item>

        <ion-item lines="full">
          <ion-label slot="start" style="font-size: small;">
            distance_from_road :
          </ion-label>

          <ion-label style="text-align: right;font-size: small;" slot="end">
            {{Furniture.distance_from_road}} (m)
          </ion-label>
        </ion-item>

        <ion-item>
          <img src="{{Furniture.photo_url}}" />
        </ion-item>

      </ion-list>

    </ion-col>

  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-row>
      <!-- segment -->
      <ion-col *ngIf="segment_id">
        <ion-button [disabled]="true" fill='outline' expand="block" color='danger' (click)="delete_segment();">Remove
        </ion-button>
      </ion-col>
      <ion-col *ngIf="segment_id">
        <ion-button fill='outline' expand="block" color='primary' (click)="start_new_analysis();">Analyse</ion-button>
      </ion-col>


      <!-- traffic -->
      <ion-col *ngIf="traffic_station_id">
        <ion-button fill='outline' [disabled]="true" expand="block" color='danger' (click)="delete_station();">Remove
        </ion-button>
      </ion-col>

      <!-- all -->
      <ion-col *ngIf="segment_id">
        <ion-button fill='outline' expand="block" color='primary'
          href="https://novo-rams-backend.onrender.com/generate_report_pdf/?seg_id={{segment_id}}" target="_blank">Export
        </ion-button>
      </ion-col>
      <ion-col *ngIf="traffic_station_id">
        <ion-button fill='outline' expand="block" color='primary'
          href="https://novo-rams-backend.onrender.com/generate_ndot_excel/.adt" target="_blank">Export</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill='outline' expand="block" color='primary' (click)="dismiss();">Dismiss</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>