<ion-app>

  <ion-toolbar color="secondary" *ngIf="isMobile">
    <ion-item color="secondary" lines="none">
      <ion-icon name="menu-outline" (click)="open_menu();"></ion-icon>
      <ion-title >{{selected_appPage}}</ion-title>
    </ion-item>
  </ion-toolbar>

  <ion-split-pane *ngIf="isLoggedIn" contentId="main-content">
    <ion-menu contentId="main-content" menuId="menu" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header style="margin-top: 3vh;">
            <!-- <img src="../assets/icon/favicon.png" /> -->
            <img src="../assets/icon/client_logo.png" style="height: 10vh;margin-left: auto;margin-right: auto;"/>
          </ion-list-header>
          <br>

          <ion-item lines="none" (click)="show_hide()">
            <ion-avatar slot="start">
              <img src="{{this.global.user_avater.value}}">
            </ion-avatar>
            <ion-label>{{this.global.user_name.value}}</ion-label>
            <ion-icon [name]="show == false ? 'chevron-down' : 'chevron-up'"></ion-icon>
          </ion-item>

          <ion-col class="anime" *ngIf="show">
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="userPages[0].url" 
                lines="none" detail="false" routerLinkActive="selected" (click)="select_page(this.userPages[0].title)">
                <ion-icon slot="start" [ios]="this.userPages[0].icon + '-outline'"
                  [md]="this.userPages[0].icon + '-sharp'"></ion-icon>
                <ion-label>{{this.userPages[0].title}}</ion-label>
              </ion-item>
              <ion-item class="link" (click)="logout()" lines="none" detail="false" routerLinkActive="selected" >
                <ion-icon slot="start" [ios]="this.userPages[1].icon + '-outline'"
                  [md]="this.userPages[1].icon + '-sharp'"></ion-icon>
                <ion-label>{{this.userPages[1].title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-col>

          <ion-item lines="full"></ion-item>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected" (click)="select_page(appPages[i].title)">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <div style="border-top: 2px solid #0583F2;"></div>
          <br>

          <ion-item lines="none" *ngIf="selected_appPage == 'Traffic'">
            <img src="../assets/icon/Dir.png" style="height: 30vh;margin: auto;"/>
          </ion-item>

          <ion-item lines="full">
            <div #pieChart style="width: 90%;"></div>
          </ion-item>

        </ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-header *ngIf="isLogginIn">
    <ion-toolbar>
      <ion-title>
        <ion-row>
          <img (click)="go_home()" src="../assets/icon/favicon.png" style="height: 60px;padding-left: 30px;" />
          <!-- <p class="link" (click)="go_home()">Home</p> -->
          <!-- <p class="link" (click)="goto_register()">Register</p> -->
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="isRegistering">
    <ion-toolbar>
      <ion-title>
        <ion-row>
          <img (click)="go_home()" src="../assets/icon/favicon.png" style="height: 60px;padding-left: 30px;" />
          <!-- <p class="link" (click)="go_home()">Home</p> -->
          <p class="link" (click)="goto_login()">Login</p>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- login form -->
  <ion-grid class="container" *ngIf="isLogginIn">

    <ion-card class="center">
      <br>
      <ion-item lines="none">
        <ion-label>Sign in</ion-label>
      </ion-item>
      <form [formGroup]="loginForm">
        <ion-card-content>
          <ion-item class="input-valid">
            <ion-input type="email" placeholder="Email Address" formControlName="email"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && loginErrorControl.email.errors?.required">
            cellphone/email is required.
          </span>
          <br>
          <ion-item class="input-valid">
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && loginErrorControl.password.errors?.required">
            Password is required.
          </span>
          <br>
          <ion-button (click)="login()" style="width: 100%;" shape="outline">Login</ion-button>
          <br>
          <span class="ion-padding" style="text-align: center;">
            <p (click)="forgot_pass()" class="link">Forgot Password ? Reset password</p>
          </span>
        </ion-card-content>
      </form>

    </ion-card>

  </ion-grid>

  <!-- register form -->
  <ion-grid class="container" *ngIf="isRegistering">

    <ion-card class="center">
      <br>
      <ion-item lines="none">
        <ion-label>Sign Up</ion-label>
      </ion-item>
      <form [formGroup]="registerForm">
        <ion-card-content>

          <ion-item class="input-valid">
            <ion-input type="text" placeholder="Names" formControlName="names"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.names.errors?.required">
            Name is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.names.errors?.pattern">
            <p>invalid names entered</p>
          </span>
          <br>

          <ion-item class="input-valid">
            <ion-input type="text" placeholder="surname" formControlName="surname"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.surname.errors?.required">
            surname is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.surname.errors?.pattern">
            <p>invalid surname entered</p>
          </span>
          <br>

          <ion-item class="input-valid">
            <ion-input type="email" placeholder="Email Address" formControlName="email"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.email.errors?.required">
            email is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.email.errors?.pattern">
            invalid email entered
          </span>
          <br>

          <ion-item class="input-valid">
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.password.errors?.required">
            Password is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.password.errors?.pattern">
            Minimum eight characters, at least one letter, one number and one special character:
          </span>
          <br>


          <ion-button (click)="register()" style="width: 100%;" shape="outline">Register</ion-button>
          <br>
          <span class="ion-padding" style="text-align: center;">
            <p (click)="goto_login()" class="link">Already have an account ? Login</p>
          </span>
        </ion-card-content>
      </form>

    </ion-card>

  </ion-grid>

  <ion-content *ngIf="!isLoggedIn && !isLogginIn && !isRegistering">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-row>
            <img (click)="go_home()" src="../assets/icon/favicon.png" style="height: 60px;padding-left: 30px;" />
            <!-- <p class="link" (click)="go_home()">Home</p> -->
            <p class="link" (click)="goto_login()">Login</p>
          </ion-row>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- body -->
    <ion-row>
      <ion-col class="body">
        <ion-text>
          <h1>
            <strong>
              About
            </strong>
          </h1>
          <p>
            Road segments analysis platform. The main aim is to detect and record artifacts (cracks , potholes and
            patches ) on the road and where they are located .Thus also giving visual representation of the data
            collected. Inspection analysis will be done automatically with the platforms algorithms and artificial
            intelligence (AI)
          </p>
        </ion-text>
      </ion-col>

      <!-- <ion-col style="padding: 30px;"> -->
      <ion-slides [options]="slideOpts" style="height: 500px;width: 50%;padding: 30px;">
        <ion-slide>
          <img src="../assets/cracks.jfif" />
        </ion-slide>

        <ion-slide>
          <img src="../assets/pothole detection.png" />
        </ion-slide>

      </ion-slides>
      <!-- </ion-col> -->
    </ion-row>

    <br>



    <!-- footer -->
    <ion-footer>
      <ion-row>
        <br>
      </ion-row>

      <ion-row>
        <br>
      </ion-row>

      <ion-row style="padding: 60px;text-align: center;">
        <ion-col class="col">
          <ion-icon name="mail-outline"></ion-icon>
          <br>
          <a href="mailto:info@novosense.co.za">info@novosense.co.za</a>
        </ion-col>

        <ion-col class="col">
          <ion-icon name="location-outline"></ion-icon>
          <br>
          <a href="geo:-26.0029553,28.127162">Gallagher Business Exchange, 688 Gallagher Ave, Halfway House, Midrand, 1685
          </a>
        </ion-col>

        <ion-col class="col">
          <ion-icon name="call-outline"></ion-icon>
          <br>
          <a href="tel:123-456-7890">+27 123-456-7890</a>
        </ion-col>
      </ion-row>

    </ion-footer>
  </ion-content>

</ion-app>