<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title>Profile</ion-title>
      <ion-icon *ngIf="this.uuid" (click)="dismiss();" name="close-outline"></ion-icon>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="profileForm">

      <ion-row>
        <ion-col>
          <ion-text style="text-align: center;" (click)="add_photo()">
            <ion-avatar style="height: 150px;width: 150px;margin: auto;">
              <img [src]="image">
            </ion-avatar>
            <p>Profile photo</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-input type="text" placeholder="Name" formControlName="names">
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input type="text" placeholder="Surname" formControlName="surname">
            </ion-input>
          </ion-item>

          <ion-item class="combo-box">
            <ion-label style="text-align: left;">Gender:</ion-label>
            <ion-select value="select" okText="Okay" cancelText="Dismiss" formControlName="gender">
              <ion-select-option value="m">male</ion-select-option>
              <ion-select-option value="f">female</ion-select-option>
              <ion-select-option value="r">rather not say</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-input type="text" placeholder="email contact" formControlName="email">
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input type="text" placeholder="contact number" formControlName="contact">
            </ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="input-valid">
            <ion-label style="text-align: left;">User role:</ion-label>
            <ion-select [disabled]="!this.uuid" value="select" okText="Okay" cancelText="Dismiss"
              formControlName="user_role">
              <ion-select-option value="super_user">super_user</ion-select-option>
              <ion-select-option value="admin">admin</ion-select-option>
              <ion-select-option value="sub_admin">sub_admin</ion-select-option>
              <ion-select-option value="user">user</ion-select-option>
            </ion-select>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.user_role.errors?.required">
            User role is required.
          </span>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-item class="input-valid">
            <ion-label style="text-align: left;">Province:</ion-label>
            <ion-select [disabled]="!this.uuid" value="select" okText="Okay" cancelText="Dismiss"
              formControlName="province">
              <ion-select-option *ngFor="let item of Province" value="{{item.name}}">{{item.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.province.errors?.required">
            Province is required.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="input-valid">
            <ion-label style="text-align: left;">District Municipality:</ion-label>
            <ion-select [disabled]="!this.uuid" value="select" okText="Okay" cancelText="Dismiss"
              formControlName="municipality">
              <ion-select-option *ngFor="let municipality of Municipality" value="{{municipality.code}}">
                {{municipality.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && registerErrorControl.municipality.errors?.required">
            Municipality is required.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="input-valid">
            <ion-label style="text-align: left;">Local municipality:</ion-label>
            <ion-select [disabled]="!this.uuid" value="select" okText="Okay" cancelText="Dismiss"
              formControlName="local_municipality">
              <ion-select-option *ngFor="let local_municipality of Local_Municipality"
                value="{{local_municipality.code}}">
                {{local_municipality.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <span class="error ion-padding"
            *ngIf="isSubmitted && registerErrorControl.local_municipality.errors?.required">
            Local municipality is required.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngIf="!this.uuid">

          <br>
          <ion-item lines="full" (click)="updateProfile()">
            <ion-label color="primary" style="text-align: center;">
              Update Profile
            </ion-label>
          </ion-item>

          <br>

          <ion-item lines="full" (click)="openChangePass()">
            <ion-label color="primary" style="text-align: center;">
              Change password
            </ion-label>
          </ion-item>

          <br>

          <ion-item lines="full" (click)="openChangePass()">
            <ion-label color="danger" style="text-align: center;">
              Logout
            </ion-label>
          </ion-item>

          <!-- <br>
          <ion-item  lines="full" (click)="delete_user()">
            <ion-label color="danger" style="text-align: center;">
              Delete account
            </ion-label>
          </ion-item> -->



        </ion-col>
      </ion-row>



    </form>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="this.uuid">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button fill='outline' expand="block" color='primary' (click)="updateProfile();">Update Profile</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill='outline' expand="block" color='primary' (click)="openChangePass();">Change Password
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill='outline' expand="block" color='danger' (click)="delete_user();">Delete Account</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>