/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover {
  color: var(--ion-color-secondary);
}

.header {
  color: var(--ion-color-primary);
}

.anime {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.add-button {
  ion-icon {
    color: var(--ion-color-light);
  }
}

.searchItem {
  ion-icon {
    color: var(--ion-color-primary);
  }
  ion-label:hover {
    cursor: pointer;
  }
}

.my-custom-class::after {
  content: " ";
  position: absolute;
  --border-radius: 15px 15px 0px 0px !important;
}

.modalClass .modal-wrapper {
  --height: 80%;
  --width: 90%;
  align-items: flex-end;
  --border-radius: 15px 15px 0px 0px !important;
}

.smallmodalClass .modal-wrapper {
  --height: 80%;
  --width: 400px;
  align-items: flex-end;
  --border-radius: 15px 15px 15px 15px !important;
}

@media only screen and (max-width: 600px) {
  ion-header {
    ion-toolbar {
      --background: var(--ion-color-secondary);
    }
  }
  .infoModalClass {
    
    ion-header{
      ion-toolbar {
      --background: var(--ion-color-secondary);
    }
      ion-item{
        --background: var(--ion-color-secondary-tint);
      }
    }
    
    --height: 100%;
    --width: 100%;
  }
}

ion-avatar {
  border: 1px var(--ion-color-primary);
}

.input {
  text-align: left;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  width: 90%;
  height: 42;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.cancel:hover {
  color: var(--ion-color-danger);
  transform: scale(1.2);
}

.error {
  color: var(--ion-color-danger);
  margin: auto;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg) scale(1.2);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg) scale(1.2);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg) scale(1.2);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg) scale(1.2);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  color: var(--ion-color-success);
}

.save:hover {
  color: var(--ion-color-success);
  transform: scale(1.2);
}

.popoverclass {
  border: 1px var(--ion-color-primary) !important;
}

.card-total {
  ion-card {
    height: 100px;
    background-color: var(--ion-color-primary);
  }
  ion-car-header {
    color: var(--ion-color-light);
    font-size: large;
    margin: auto;
  }
}

.link {
  margin-right: 10px;
  cursor: pointer;
}
