<ion-header>
  <ion-toolbar>
    <br>
    <ion-title>Documents</ion-title>
    <br>
    <ion-card>
      <ion-searchbar [(ngModel)]="searchText" (ngModelChange)="get_docs()" showCancelButton="focus"></ion-searchbar>
      <ion-item lines="none">
        <ion-item class="searchItem" lines="none" (click)="presentPopover($event, 'docFilter')">
          <ion-icon slot="start" name="filter-outline" >
          </ion-icon>
          <ion-label>
            {{filterBy}}
          </ion-label>
        </ion-item>
        
  
        <ion-item class="searchItem" lines="none" (click)="presentPopover($event,'docSort')">
          <ion-icon slot="start" name="swap-vertical-outline" >
          </ion-icon>
          <ion-label>
            {{SortBy}}
          </ion-label>
        </ion-item>
  
        <!-- <ion-item lines="none" (click)="presentPopover($event,'funnelBy')">
          <ion-icon slot="start" name="funnel-outline" >
          </ion-icon>
          <ion-label>
            {{funnelBy}}
          </ion-label>
        </ion-item> -->
  
        
  
        <ion-item class="searchItem">
          <ion-label>Results: ({{results_count}})</ion-label> 
        </ion-item>
  
        <ion-item slot="end" class=".add-button">
          <ion-button (click)="add_new_doc()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
  
      </ion-item>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-header>

</ion-header>

<ion-content>
  <ion-grid>
   



    <ion-col>
      <ion-card>
        <ion-card-content>
          <table>
            <tr class="header">
              <th>Title</th>
              <th>Description</th>
              <th>Modified on datetime</th>
              <th>Type</th>
              <th>Size</th>
            </tr>
            <tr *ngFor="let doc of Docs;" >
              <td>{{doc.title}}</td>
              <td>{{doc.description}}</td>
              <td>{{doc.date_modified}}</td>
              <td>{{doc.doc_type}}</td>
              <td>{{doc.size}}</td>

              <td>
                <ion-item lines="none" class="ion-no-padding">
                  <ion-button color="primary"  shape="outline">Download</ion-button>
                  <ion-button color="success"  shape="outline">Update</ion-button>
                </ion-item>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>